
<!--stopindex-->
<header role="banner" id="banner">
<div class="banner-eere">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-xs-6">

                <!-- Horizontal Banner -->
                <img class="banner-logo hidden-xs"
                     src="public/images/logo_eere.png" alt=""  usemap="#bannermap-h" >
                <map id="bannermap-h" name="bannermap-h">
                    <area shape="rect" coords="0,0,140,45"   href="http://energy.gov/"     alt="U.S. Department of Energy">
                    <area shape="rect" coords="141,0,300,45" href="http://energy.gov/eere" alt="Energy Efficiency & Renewable Energy">
                </map>

                <!-- Vertical Banner -->
                <img class="banner-logo visible-xs img-responsive"
                     src="public/images/logo_eere_vert.png" alt=""  usemap="#bannermap-v">

                <map id="bannermap-v" name="bannermap-v">
                    <area shape="rect" coords="0,0,130,45"  href="http://energy.gov/"     alt="U.S. Department of Energy">
                    <area shape="rect" coords="0,45,183,96" href="http://energy.gov/eere" alt="Energy Efficiency & Renewable Energy">
                </map>
            </div>

            <button
                type="button"
                class="navbar-toggle searchbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#searchbar-collapse">

                <i class="fa fa-custom-search-times"></i><span class="sr-only">Toggle Search</span>
            </button>


            <div class="col-sm-6">

                <div class="banner-tools">
                    <div class="banner-links">
                        <a href="">Login</a> | <a href="">Register</a>
                    </div>

                    <div class="navbar-collapse collapse searchbar" id="searchbar-collapse" >

                        <form
                            role="form"
                            name="seek"
                            method="get"
                            class="searchbar-form form-inline"
                            action="http://search.nrel.gov/query.html">

                            <div class="form-group">
                                <label for="search" class="sr-only">Search {{Sitename}}</label>
                                <input type="hidden" name="qp" value="url:" />
                                <input type="hidden" name="style" value="eere" />
                                <input type="hidden" name="qs" value="" />
                                <input type="hidden" name="qc" value="eren" />
                                <input type="hidden" name="ws" value="0" />
                                <input type="hidden" name="qm" value="0" />
                                <input type="hidden" name="st" value="1" />
                                <input type="hidden" name="nh" value="10" />
                                <input type="hidden" name="lk" value="1" />
                                <input type="hidden" name="rf" value="0" />
                                <input type="hidden" name="oq" value="" />
                                <input type="hidden" name="col" value="eren" />
                                <input type="text"   name="qt"  id="search" maxlength="2047"   placeholder="Search {{Sitename}}" class="form-control">

                                <button type="submit" class="btn btn-success">Search</button>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</header>
<!--startindex-->
