
<!--stopindex-->
<footer class="footer-site">
    <div class="container">
        <div class="row">



            <p class="footer-tagline">{{Sitename}} is a resource of the Department of Energy's {{Office name}} Office.</p>

            <p class="footer-links">
                <a href="{{Link}}">Contact Us</a> |
                <a href="{{Link}}">{{Office name}}</a> |
                <a href="http://energy.gov/eere">Office of Energy Efficiency &amp; Renewable Energy</a>
            </p>



        </div>
    </div>
</footer>
<!--startindex-->
