
        <!-- Core javascript
        ================================================== -->
        <script src="public/libs/bootstrap/js/bootstrap.min.js"></script>

        <!-- Custom (minified and concatenated) javascript
        ================================================== -->
        <script src="public/js/app.min.js"></script>


        <!-- CrazyEgg
        ================================================== -->
        <script type="text/javascript">
        setTimeout(function(){var a=document.createElement("script");
        var b=document.getElementsByTagName('script')[0];
        a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0011/5883.js?"+Math.floor(new Date().getTime()/3600000);
        a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
        </script>
