
<!--stopindex-->
<div class="topnav">
    <div class="container">
        <nav class="navbar" role="navigation">

            <div class="navbar-header">
                <button type="button"
                        class="collapsed navbar-toggle"
                        data-toggle="collapse"
                        data-target="#navbar"
                        aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-arrow-down"></i> Menu
                </button>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Top Nav On-State</a></li>
                    <li><a href="#">Top Nav 2</a></li>
                    <li><a href="#">Top Nav 3</a></li>
                </ul>
            </div>

        </nav>
    </div>
</div>
<!--startindex-->
