<!--stopindex-->
        <footer class="footer-site">
     <div class="programbar" style="background-color: #666; color: #fff;">
        "{Sitename} is a resource of the U.S. Department of Energy's {Office or Program Name}."<br />
         <a href="#">Contact Us</a> | {<a href="#">Office or Program Name</a>}
        </div> 
        <div class="footer-top">
            <div class="container">
             <div class="row">
                <div class="col-md-3">
                    <a href="https://www.energy.gov">
                        <img src="https://www.energy.gov/sites/all/themes/clean_energy/images/logo_footer_white.png" alt="Energy.Gov" class="site-name">
                    </a>
                    <p>1000 Independence Ave. SW<br>Washington DC 20585<br>202-586-5000</p>
                    <div class="mc_embed_signup_wrapper">
                        <a href="http://energy.us5.list-manage.com/subscribe/post?u=d8fbb7a1814155cc38f24adeb&amp;id=a6805280ba"><span class="fa fa-envelope" aria-hidden="true"></span> Sign Up for Email Updates</a>
                    </div>
                    <div class="energy-social-widget">
                    <a href="https://www.facebook.com/energygov" aria-label="Link to Facebook" title="Link to Facebook"><i class="fab fa-facebook-f fa-lg circle-icon"></i><span class="sr-only">Link to Facebook</span></a>
                    <a href="https://twitter.com/energy" aria-label="Link to Twitter" title="Link to Twitter"><i class="fab fa-twitter fa-lg circle-icon"></i><span class="sr-only">Link to Twitter</span></a>
                    <a href="https://www.youtube.com/user/USdepartmentofenergy" aria-label="Link to Youtube" title="Link to Youtube"><i class="fab fa-youtube fa-lg circle-icon"></i><span class="sr-only">Link to Youtube</span></a>
                    <a href="https://www.instagram.com/energy" aria-label="Link to Instagram" title="Link to Instagram"><i class="fab fa-instagram fa-lg circle-icon"></i><span class="sr-only">Link to Instagram</span></a>
                    <a href="https://www.linkedin.com/company/u-s--department-of-energy" aria-label="Link to Linkedin" title="Link to Linkedin"><i class="fab fa-linkedin-in fa-lg circle-icon"></i><span class="sr-only">Link to Linkedin</span></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <p class="footer-header">About EERE</p>
                    <p><a href="https://www.energy.gov/jobs/jobs">Careers and Internships</a></p>
                    <p><a href="https://www.energy.gov/eere/office-energy-efficiency-renewable-energy">EERE Home</a></p>
                    <p><a href="https://www1.eere.energy.gov/library/default.aspx">Publications Library</a></p>
                    <p><a href="https://www.energy.gov/eere/about-us/office-energy-efficiency-and-renewable-energy-contacts">Contact EERE</a></p>
                </div>
                <div class="col-md-3">
                    <p class="footer-header">Energy.gov Resources</p>
                    <p><a href="https://www.energy.gov/budget-performance">Budget &amp; Performance</a></p>
                    <p><a href="https://www.directives.doe.gov">Directives, Delegations &amp; Requirements</a></p>
                    <p><a href="https://www.energy.gov/management/office-management/operational-management/freedom-information-act">FOIA</a></p>
                    <p><a href="https://www.energy.gov/ig/office-inspector-general">Inspector General</a></p>
                    <p><a href="https://www.energy.gov/cio/office-chief-information-officer/services/guidance/privacy-program">Privacy Program</a></p>
                    <p><a href="https://www.energy.gov/osdbu/office-small-and-disadvantaged-business-utilization">Small Business</a></p>
                    <p><a href="https://www.energy.gov/about-us/staff-and-contractors">Staff &amp; Contractor Resources</a></p>
                </div>
                <div class="col-md-3">
                    <p class="footer-header"><a href="https://www.energy.gov">Federal Government</a></p>
                    <p><a href="http://www.whitehouse.gov">The White House</a></p>
                    <p><a href="http://www.usa.gov">USA.gov</a></p>
                </div>
        </div>
        </div>
        </div>
    
        <div class="footer-bottom">
        <div class="container">
        <ul class="menu">
            <li><a href="https://www.energy.gov/about-us/web-policies">Web Policies</a></li>
            <li><a href="https://www.energy.gov/about-us/web-policies/privacy">Privacy</a></li>
            <li><a href="https://www.energy.gov/diversity/services/protecting-civil-rights/no-fear-act">No Fear Act</a></li>
            <li><a href="https://www.energy.gov/whistleblower-protection-and-nondisclosure-agreements">Whistleblower Protection</a></li>
            <li><a href="https://www.energy.gov/cio/department-energy-information-quality-guidelines">Information Quality</a></li>
            <li><a href="https://www.energy.gov/open-government">Open Gov</a></li>
            <li><a href="https://www.energy.gov/cio/office-chief-information-officer/services/assistive-technology/accessibility-standard-statement">Accessibility</a></li>
        </ul>
        </div>
    </div>

    </footer>
        <!--startindex-->