<!--stopindex-->
    <footer class="footer-site">
        <div class="container">
            <div class="row">


                <p class="footer-tagline">{{Sitename}} is a resource of the Department of Energy's {{Office name}} Office.</p>

                <p class="footer-links">
                    <a href="#">Contact Us</a> |
                    <a href="#">{{Office name}}</a> |
                    <a href="https://www.energy.gov/eere/office-energy-efficiency-renewable-energy">Office of Energy Efficiency &amp; Renewable Energy</a> | 
                    <a href="https://www.energy.gov/about-us/web-policies">Web Policies</a> |
                    <a href="https://www.energy.gov/about-us/web-policies/privacy">Privacy</a>
                </p>


            </div>
        </div>
    </footer>
<!--startindex-->