<!--stopindex-->
<header>
<div class="container-fluid">
<!-- Header - -->
 <div class="row">
    <nav class="navbar navbar-inverse">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#signup-login" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <div class="navbar-brand">
                <span><img src="assets/images/doe-eere-logo.png" alt="" usemap="#logo" class="banner-logo">
                <map name="logo">
                  <area shape="rect" coords="1,1,198,20" href="https://www.energy.gov" alt="Energy.gov">
                  <area shape="rect" coords="2,22,198,75" href="https://www.energy.gov/eere/office-energy-efficiency-renewable-energy" alt="Office of Energy Efficiency and Renewable Energy">
                </map>
                </span> 
                <span class="banner-title">{{Program Title Here}}</span>
            </div>
        </div>

        <div class="navbar-collapse collapse" id="signup-login">

        <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign Up</a>
          <ul class="dropdown-menu">
            <li>
             <div class="signup">
                <form name="signup" method="get" action="#">
                 <div class="form-group">
                  <label for="signup-firstname" class="sr-only">First Name</label>
                  <input type="text" id="signup-firstname" placeholder="First Name"><br>
                  <label for="signup-lastname" class="sr-only">Last Name</label>
                  <input type="text"  id="signup-lastname" name="signup-lastname" placeholder="Last Name">
                  <br>
                  <label for="signup-email" class="sr-only">First Name</label>
                  <input type="text" id="signup-email" placeholder="Email">
                  <br>
                  <label for="signup-password" class="sr-only">Password</label>
                  <input type="password" id="signup-password" placeholder="Password"><br>
                  <input class="btn" type="submit" name="submit" value="Login">
                 </div>
                </form>
             </div>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login</a>
            <ul class="dropdown-menu">
            <li>
             <div class="login">
                <form name="login" method="get" action="#">
                <div class="form-group">
                <label for="login-username" class="sr-only">Username</label>
                <input type="text" id="login-username" placeholder="Username">
                <br>
                <label for="login-password" class="sr-only">Password</label>
                <input type="password" id="login-password" placeholder="Password"><br>
                <a href="#" class="btn">Login</a>
                </div>
               </form>
             </div>
            </li>
          </ul>
        </li>

      </ul>	


        </div><!-- /.navbar-collapse -->

        </div><!-- /.container-fluid -->
    </nav>
  <!-- end header -->
 </div><!-- /.row -->
</div><!-- /.container-fluid -->
</header>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
        <!-- BEGIN Breadcrumbs -->
                <div class="breadcrumbs">
                    <a href="https://www.energy.gov/eere/office-energy-efficiency-renewable-energy">EERE</a> &raquo; {{Sitename}}
                </div>
        <!-- END Breadcrumbs -->
        </div>
    </div>
</div>
<!--startindex-->