/*
 *  Banner Styles
 **************************************************/
.banner-eere {
    color: #FFFFFF;
    background-color: #5d9300;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    min-height: 78px;
    width: 100%;
}

.banner-eere .banner-logo {
    display: inline;
    float:left;
    padding: 1em 0;
    vertical-align: middle;
}
@media(min-width:768px) {
    .banner-eere .banner-logo    {
        margin-left:-15px;
    }
}




/*
 *  Banner tools (login/register/search)
 **************************************************/
.banner-tools {
    padding-top: 22px;
}

.banner-tools-combined {
    padding-top: 12px;
}

.banner-tools .banner-links {
    float:right;
    font-size:12px;
    margin-top: 7px;
}
.banner-tools-combined .banner-links {
    margin-top: 0;
}


.banner-tools .banner-links a,
.banner-tools .banner-links a:visited,
.banner-tools .banner-links a:hover {
    color: #fff;
    text-transform: uppercase;
}

/*
 *  Searchbar toggle button
 **************************************************/
.banner-eere .navbar-toggle.collapsed .fa-custom-search-times:before {
    content: "\f002"; /* fa-search */
}
.banner-eere .navbar-toggle .fa-custom-search-times:before {
    content: "\f00d"; /* fa-times X */
}

.banner-eere .navbar-toggle {
    border: 1px solid #FFF;
    border-radius: 5px;
    color: #FFF;
    padding: 2px 8px 3px 8px;
    position: absolute;
    right: 0;
    top: 40px;
    width: 33px;
    z-index: 2;
}

/*
 *  Search box
 **************************************************/

.banner-links + .navbar-collapse {
    clear: both; /* clear the logo, and the banner-links if present */
    margin-top:5px;
}




.searchbar-form {
    padding-bottom: 7px;
}

@media (min-width: 768px) {
    .searchbar-form {
        background-color: transparent;
        float:right;
        /*margin-top:15px;*/
    }
}

.searchbar-form button {
/*    background-color:#5E6A71;
    border-color:#5E6A71;*/
    color:#fff;
    font-size: 12px;
    height:26px;
    line-height:12px;
}

@media (min-width: 768px) {
    .searchbar-form button {
        /*background-color: #D1D5D8;
        border-color: #D1D5D8;
        color: #000;*/
    }
}



@media (min-width: 768px) {

    /* padding is needed on xs size  below 768 */
    header .navbar-collapse,
    header .navbar-form  {
        padding-left:0;
        padding-right: 0;
    }
}


header .navbar-collapse  {
    border: none;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.searchbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.searchbar-form .form-control {
    box-shadow: none;
    display: inline-block;
    font-size:12px;
    height:26px; /* match button size */
    vertical-align: middle;
    width: auto;
}

/**/

:-webkit-input-placeholder {font-size: 12px;color: #CCC;}
:-moz-placeholder {font-size: 12px;color: #CCC;}
:-ms-input-placeholder {font-size: 12px;color: #CCC;}



/*
 *  Site banner
 **************************************************/
.banner-site {
    margin: 0 auto;
    border-bottom: 1px solid #bbb;
    min-height: 100px;
}


.banner-site .sitename {
    color: #444;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 2.26em;
    font-weight: 300;
    line-height: .8;
    padding: 1em .4em;
}
@media(min-width:768px) {
    .banner-site .sitename {
        padding-left:0;
    }
}

.banner-site .sitename a,
.banner-site .sitename a:visited,
.banner-site .sitename a:hover {
    color: #444;
    text-decoration: none;
}





/*
 *  Page utilities bar styles
 **************************************************/
.utilities {
    padding:1em 0;
    font-size: .8em;
}
/*
 *  Breadcrumbs Styles
 **************************************************/
.utilities .breadcrumbs {
    display: inline-block;
    font-weight: bold;
    width: 49%;
}
.utilities .breadcrumbs a,
.utilities .breadcrumbs a:visited {
    color: #0074A1;
}


.utilities .breadcrumbs a:hover {
    color: #0074A1;
    text-decoration: underline;
}

