/*
 *  Styles for components that don't have a home elsewhere (yet)
 **************************************************/


.results-list .results-total {
    border-bottom: 1px solid #999;
}

.results-list .results-total:before,
.results-list .results-total:after {
    content: " ";
    display: table;
}

.results-list .results-total:after {
    clear: both;
}

.results-total  p {
    margin-bottom: 0;
    color:#444;
    font-size: 90%;
}

.results-list .results-item {
    border-bottom: 1px solid #CCC;
}

.results-item  .subheading {
    font-style: italic;
    color:#666;
    line-height: 1.2;
    font-size: 90%;
}

.results-item  .subheading h5 {
    margin-top:0;
}

.results-item  .footer {
    color: #5D9300;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 80%;
}