/*
 *  Footer Styles
 **************************************************/

footer {
    padding-top: 100px;
}

footer p {
    padding-top: 10px;
    font-size: .8em;
    text-align: center;
    color: #3C4349;
    line-height: 1.7em;
}

footer .footer-links a {
    color: #0074A1;
    text-decoration: none;
}

footer .footer-links :visited {
    color: #bf4e00;
}

footer .footer-links a:hover {
    color: #3C4349;
    text-decoration: underline;
}

