/*
 *  Faceted Search
 **************************************************/
.faceted-search {

}

.faceted-search label{
    font-weight: 400;
}

.faceted-search .panel-heading {
    background-image: linear-gradient(#FFF,#EEE)
}


/*
 *  Forms
 **************************************************/

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
   color: #ccc;
}



.form-control {
    text-shadow: 0 1px white;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.15);
    border: 1px solid #bbb;
    height:36px;
}

select,
select.form-control {
    background-image:linear-gradient(white,#e6e6e6);
    box-shadow: inset 0 1px white,inset 0 0 0 1px rgba(255,255,255,0.5),0 1px 2px rgba(0,0,0,0.1);
}
select[disabled],
select.form-control[disabled] {
    box-shadow: inset 0 1px white,inset 0 0 0 1px rgba(255,255,255,0.5),0 1px 2px rgba(0,0,0,0.1);
    color: #999;
}


.btn {
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(255, 255, 255, 0.7), 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 2px 0px rgba(255, 255, 255, 0.7), 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 2px 0px rgba(255, 255, 255, 0.7), 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.btn-link {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


.btn-primary {
  background: #0071a1;
  background: -moz-linear-gradient(top, #0071a1 0%, #00587d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0071a1), color-stop(100%,#00587d));
  background: -webkit-linear-gradient(top, #0071a1 0%,#00587d 100%);
  background: -o-linear-gradient(top, #0071a1 0%,#00587d 100%);
  background: -ms-linear-gradient(top, #0071a1 0%,#00587d 100%);
  background: linear-gradient(to bottom, #0071a1 0%,#00587d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0071a1', endColorstr='#00587d',GradientType=0 );
  border:1px solid #014d63;
}
.btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open .dropdown-toggle.btn-primary {
  background: #004f85;
  background: -moz-linear-gradient(top,  #004f85 0%, #003d57 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#004f85), color-stop(100%,#003d57));
  background: -webkit-linear-gradient(top,  #004f85 0%,#003d57 100%);
  background: -o-linear-gradient(top,  #004f85 0%,#003d57 100%);
  background: -ms-linear-gradient(top,  #004f85 0%,#003d57 100%);
  background: linear-gradient(to bottom,  #004f85 0%,#003d57 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004f85', endColorstr='#003d57',GradientType=0 );
  border:1px solid #013645;
}
.btn-success {
  background: #529106;
  background: -moz-linear-gradient(top,  #529106 0%, #3f6e05 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#529106), color-stop(100%,#3f6e05));
  background: -webkit-linear-gradient(top,  #529106 0%,#3f6e05 100%);
  background: -ms-linear-gradient(top,  #529106 0%,#3f6e05 100%);
  background: linear-gradient(to bottom,  #529106 0%,#3f6e05 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#529106', endColorstr='#3f6e05',GradientType=0 );
  border:1px solid #006120;
}
.btn-success.active, .btn-success:active, .btn-success:focus, .btn-success:hover, .open .dropdown-toggle.btn-success {
  background: #397004;
  background: -moz-linear-gradient(top,  #397004 0%, #2c4d03 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#397004), color-stop(100%,#2c4d03));
  background: -webkit-linear-gradient(top,  #397004 0%,#2c4d03 100%);
  background: -o-linear-gradient(top,  #397004 0%,#2c4d03 100%);
  background: -ms-linear-gradient(top,  #397004 0%,#2c4d03 100%);
  background: linear-gradient(to bottom,  #397004 0%,#2c4d03 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#397004', endColorstr='#2c4d03',GradientType=0 );
  border:1px solid #004416;
 }
.btn-info {
  background: #ececec;
  background: -moz-linear-gradient(top, #ececec 0%, #c0c0c0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#c0c0c0));
  background: -webkit-linear-gradient(top, #ececec 0%,#c0c0c0 100%);
  background: -o-linear-gradient(top, #ececec 0%,#c0c0c0 100%);
  background: -ms-linear-gradient(top, #ececec 0%,#c0c0c0 100%);
  background: linear-gradient(to bottom, #ececec 0%,#c0c0c0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#c0c0c0',GradientType=0 );
  border:1px solid #939393;
  color:#444;
}
.btn-info.active, .btn-info:active, .btn-info:focus, .btn-info:hover, .open .dropdown-toggle.btn-info {
  background: #e6e6e6;
  background: -moz-linear-gradient(top, #e6e6e6 0%, #adadad 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e6e6), color-stop(100%,#adadad));
  background: -webkit-linear-gradient(top, #e6e6e6 0%,#adadad 100%);
  background: -o-linear-gradient(top, #e6e6e6 0%,#adadad 100%);
  background: -ms-linear-gradient(top, #e6e6e6 0%,#adadad 100%);
  background: linear-gradient(to bottom, #e6e6e6 0%,#adadad 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#adadad',GradientType=0 );
  border:1px solid #727272;
  color:#444;
}
.btn-warning {
  background: #f7bb17;
  background: -moz-linear-gradient(top, #f7bb17 0%, #bd8f11 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7bb17), color-stop(100%,#bd8f11));
  background: -webkit-linear-gradient(top, #f7bb17 0%,#bd8f11 100%);
  background: -o-linear-gradient(top, #f7bb17 0%,#bd8f11 100%);
  background: -ms-linear-gradient(top, #f7bb17 0%,#bd8f11 100%);
  background: linear-gradient(to bottom, #f7bb17 0%,#bd8f11 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7bb17', endColorstr='#bd8f11',GradientType=0 );
  border:1px solid #c89712;
  color:#000;
}
.btn-warning.active, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .open .dropdown-toggle.btn-warning {
  background: #f5a610;
  background: -moz-linear-gradient(top, #f5a610 0%, #a96d0c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5a610), color-stop(100%,#a96d0c));
  background: -webkit-linear-gradient(top, #f5a610 0%,#a96d0c 100%);
  background: -o-linear-gradient(top, #f5a610 0%,#a96d0c 100%);
  background: -ms-linear-gradient(top, #f5a610 0%,#a96d0c 100%);
  background: linear-gradient(to bottom, #f5a610 0%,#a96d0c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5a610', endColorstr='#a96d0c',GradientType=0 );
  border:1px solid #b7780d;
  color:#000;
 }
.btn-danger {
  background: #d74a4a;
  background: -moz-linear-gradient(top,  #d74a4a 0%, #b21818 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d74a4a), color-stop(100%,#b21818));
  background: -webkit-linear-gradient(top,  #d74a4a 0%,#b21818 100%);
  background: -o-linear-gradient(top,  #d74a4a 0%,#b21818 100%);
  background: -ms-linear-gradient(top,  #d74a4a 0%,#b21818 100%);
  background: linear-gradient(to bottom,  #d74a4a 0%,#b21818 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d74a4a', endColorstr='#b21818',GradientType=0 );
  border:1px solid #b03e3e;
}
.btn-danger.active, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open .dropdown-toggle.btn-danger {
  background: #cb3434;
  background: -moz-linear-gradient(top,  #cb3434 0%, #9b1111 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb3434), color-stop(100%,#9b1111));
  background: -webkit-linear-gradient(top,  #cb3434 0%,#9b1111 100%);
  background: -o-linear-gradient(top,  #cb3434 0%,#9b1111 100%);
  background: -ms-linear-gradient(top,  #cb3434 0%,#9b1111 100%);
  background: linear-gradient(to bottom,  #cb3434 0%,#9b1111 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb3434', endColorstr='#9b1111',GradientType=0 );
  border:1px solid #982b2b;
}

