/********** Side navigation **********/


.sidenav .navlist {
    border-top:3px solid #666;
}

.sidenav .nav li {
    background-color: #fff;
    border-bottom:1px solid #ccc;
}

.sidenav .nav li a {
    color:#333;
    text-decoration: none;
    transition: background 0.15s ease-in-out;
    -moz-transition: background 0.15s ease-in-out;
    -webkit-transition: background 0.15s ease-in-out;
}

/**
 *  Active states
 ******************************/
.sidenav .nav .active {
    font-weight:600;
}

/**
 *  Sub navigation
 ******************************/

/* Turn off bolding and remove bottom border on subnav*/
.sidenav .nav .active li {
    font-weight:normal;
    border-bottom: none;
}

.sidenav .nav .active li a {
    padding-left:2em;
}


/**
 *  Hover states
 ******************************/
.sidenav .nav > li > a:hover,
.sidenav .nav > li > a:focus {
    background-color: #eee;
}

