/********** Side navigation **********/


.sidenav  {
  margin-top:9em;
  padding-left:2em;
  width: 263px;
}
.sidenav .nav > li > a {
  display: block;
  color: #444444;
  padding: 5px 20px;
}
.sidenav .nav > .active > a, .sidenav .nav > .active:hover > a, .sidenav .nav > .active:focus > a {
  font-weight: bold;
  color: #444444;
  background-color: transparent;
}
.sidenav .nav > li > a {
  display: block;
  color: #444444;
  padding: 5px 20px;
}
.sidenav .nav > li > a:hover, .sidenav .nav > li > a:focus {
  text-decoration: none;
  background-color: #dfdfdf;
}


.sidenav.affix {
    position: static;
}
.navlist {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 0 1px 0 #fff;
    background-color: #fff;
    border:none;
    border-radius: 6px;
    line-height:1.8;
}
.navlist li{
    border-top:1px solid #ccc;
}
@media (min-width: 1200px){
  .sidenav.affix-bottom, .sidenav.affix {
    width: 263px;
  }
}
@media (min-width: 992px){
  .sidenav.affix {
    position: fixed;
    top: 80px;
  }
}
@media (min-width: 992px){
  .sidenav.affix, .sidenav.affix-bottom {
    width: 213px;
  }
}
@media (min-width: 992px){
  .sidenav.affix-bottom .navlist, .sidenav.affix .navlist {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px){
  .sidenav.affix-bottom, .sidenav.affix {
    width: 263px;
  }
}


