/********** Top navigation **********/
.topnav {
    border-bottom: 1px solid #BBB;
    border-top: none;
}


.topnav .navbar {
    border: none;
    margin-bottom: 0;
    min-height: 0;
}

.topnav .container,
.topnav .navbar-collapse {
    padding:0;
}

.topnav .navbar-nav {
    margin:0;
}
@media (min-width: 768px) {
    .topnav .navbar {
        min-height: 36px;
    }
}




.banner-eere .navbar-header {
    float: right;
    margin-top: 1em;

}

.navbar-toggle {
    border:none;
    float:left;
    padding-top:0;
    padding-bottom: 0;
}

.navbar-toggle .fa-arrow-down:before {
    content: "\f062"; /* arrow-up */
}
.navbar-toggle.collapsed .fa-arrow-down:before {
    content: "\f063"; /* arrow-down */
}

.topnav .navbar-nav > li > a {
    color:#000;
    background-color: #eee;

}
@media (min-width: 768px) {
    .topnav .navbar-nav > li > a {
        background-color: #fff;
        color:#444;
        font-size: 14px;
        padding: 8px 30px;
        -webkit-transition: background-color 0.2s ease-in-out;
           -moz-transition: background-color 0.2s ease-in-out;
                transition: background-color 0.2s ease-in-out;

    }
}



/**
 *  Hover states
 ******************************/
.topnav  .navbar-nav > li > a:hover  {
    text-decoration: none;
    background-color: #2C5000;
    color:#fff;

}
@media (min-width: 768px) {
    .topnav  .navbar-nav > li > a:hover  {
        background-color: #EEE;
        color:#2C5000; /* green */
    }
}


/**
 *  Active states
 ******************************/
.topnav .navbar-nav .active a {
        background-color: #2C5000; /* green */
        color:#fff;
        text-decoration: none;
}
@media (min-width: 768px) {
    .topnav .navbar-nav .active a {
        background-color: #EEE;
        color:#2C5000;
    }
}